<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<!-- Favicon -->
        		<link rel="icon" type="image/png" href="/JB.png">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/research">Research</a></li>
				<li><a href="/teaching">Teaching</a></li>
	        		<li><a href="https://jesusbueren.github.io/Bueren_cv.pdf">CV</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:jesus.bueren@eui.eu">email</a></li>
	        		<li><a href="https://github.com/jesusbueren">github.com/jesusbueren</a></li>
				</ul>
			</footer>
		</body>
	</html>
